$main-color: #897BFC;
$blue: #b2dce7;
$purple: #DC90FC;
$dark-purple: #897BFC;
$gradient-purple: linear-gradient(90deg, rgba(129, 3, 255, 1) 0%, rgba(135, 160, 249, 1) 100%);
$gradient-yellow: linear-gradient(90deg, rgba(255, 238, 3, 1) 0%, rgba(197, 249, 135, 1) 100%);